doctype html
html
  head
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    script(src='js/main.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    script(src='/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
    
  body
    table.table
      thead
        tr
          th #
          th Name
          th Age
          th Hobby
      tbody
        each user, i in users
          tr
            th #{user['id']}
            td
              a(href='users/' + user['id'])
                | #{user['name']}
            td #{user['age']}
            td #{user['hobby']}
    footer
      | Footer
